<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
  <head>    
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <meta charset="utf-8"> <!-- Кодировка сайта -->
    <link rel="icon" href="img/fav/fav.ico" type="image">
    <link rel="icon" type="image/png" sizes="32x32" href="img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/fav/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <!-- Подключен файл со стандартными стилями бустрап -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>{{title}}</title>
  </head>
    


    <body>
        <header>
            {%include 'includes/header.html'%}
        </header>

        <main>
            <!--{% block header %}{% endblock %} -->
            
                <!--<p> Проба пера, блок main </P>-->
                
                {% block content %}
                  <!-- Содержимое страницы -->
                  <p> изнутрии блока base </P>
                {% endblock %}
            
        </main>    
        
        <footer class="border-top text-center py-3"> 
          {%include 'includes/footer.html'%}
        </footer>    
    </body>  
    

</html>  